<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite-1" parallel="false">
    <parameter name="browserName" value="chrome"/>
    <parameter name="environment" value="dev" />

    <test name="googleSearchTest" thread-count="1">
        <classes>
            <class name="GoogleTestCase">
            </class>
        </classes>
    </test>

    <listeners>
        <listener class-name="listeners.TestListner"/>
    </listeners>

</suite>